.formMaxWidth {
  width: 350px;
}

.inputField {
  width: 100%;
  padding: 10px 11px;
  height: 40px;
  background: #ffffff;
  border: 1px solid rgba(36, 36, 36, 0.12);
  border-radius: 4px;
  fieldset{
    display: none;
  }
}
