.error {
  color: #da3923;
  margin: 0 0 20px 0;
}

.formControl {
  width: 100%;
  background: #dcdcdc;
  border: 0.0625rem solid #dcdcdc;
  height: 3.375rem;
  border-radius: 0.25rem;
  padding: 1rem 1.25rem;
  font-size: 0.875rem;
  color: #242424;
}

