// color
$black: #000;
$black-10: #606164;
$black-11: #242424;

$gray-10: #F2F2F2;
$gray-11: #dcdcdc;
$gray-12: #F6F6F6;
$gray-13: #666666;
$gray-14: #F2F2F2;
$gray-15: #EAEAEA;
$gray-16: #DCDCDC;

$red-10: #C91A27;
$red-11: #E52B38;
$red-12: #F43E4A;

$blue-10: #0A1F44;
$blue-11: #1A3A7A;
$blue-12: #2A55B0;

$blue-10: #040729;

$white: #fff;
// font family
$montserrat: 'Montserrat';
$font-family-base: $montserrat;

//font-size
$font-size-xs: .75rem;
$font-size-sm: .875rem;
$font-size-base: 1rem;

//font-weight
$font-weight-small: 200 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: 700 !default;